@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --bg: #F4F6F6;
    --black: #130f40;
    --border: .2rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --grey-2: #99A3A4;
    --grey-3: #CCD1D1;
    --grey: #eee;
    --invert-2: #F8F9F9;
    --invert: #1B2631;
    --light-color: #666;
    --line-height: 1.8;
    --outline-hover: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --permanet: #fff;
    --primary: #ff7800;
    --white: #fff;
}

.dark-theme {
    --bg: #2E4053;
    --black: #fff;
    --border: .2rem solid rgba(168, 168, 168, 0.377);
    --box-shadow: 0 .5rem 1.5rem rgba(168, 168, 168, 0.377);
    --grey-2: #7F8C8D;
    --grey-3: #FBFCFC;
    --grey: #B3B6B7;
    --invert-2: #283747;
    --invert: #283747;
    --light-color: #D5DBDB;
    --line-height: 1.8;
    --outline-hover: .2rem solid rgba(168, 168, 168, 0.377);
    --outline: .1rem solid rgba(168, 168, 168, 0.377);
    --primary: #27AE60;
    --white: #17202A;
}

* {
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 9%;
}