@media (max-width:1024px) {
    .review__container {
        grid-template-columns: 1fr;
    }

    /* ################## */
    .container__box:nth-child(4n) {
        grid-column: 1/4;
        grid-row: 2/3;
        padding: 0.5rem 2rem;
        text-align: center;
    }

    .container__box--input {
        margin: .7rem 1.5rem;
        width: 70%;
    }

    .container__box:nth-child(4n) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container__box:nth-child(4n) span {
        width: 100%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1rem;

    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    .u-heading {
        font-size: 2.5rem;
    }

    /* ################## */

    #menu-btn {
        display: inline-block;
    }

    /* ################## */

    .header__navbar {
        background: var(--white);
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        position: absolute;
        right: -110%;
        text-align: center;
        top: 110%;
        width: 30rem;
    }

    .header__navbar a:link,
    a:visited {
        display: block;
        font-size: 2rem;
        margin: 2rem 0rem;
        padding: 0.5rem;
    }

    .header__search-form {
        width: 90%;
    }

    /* ################## */
    .review-slider {
        display: none;
    }

    .review-slider--mobile {
        display: block;
        width: 60rem;
    }

    .u-none {
        display: contents;
    }

    /* ################## */
    .container__box--input {
        width: 50%;
    }


}


@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    /* ################## */

    .home {
        padding-top: 10rem;
    }

    .home__content--btn {
        opacity: 0;
    }

    /* ################## */

    .header__navbar {
        text-align: right;
        width: 25rem;
    }

    .header__navbar a:link,
    a:visited {
        display: block;
        font-size: 2rem;
        margin: 2.5rem 2.5rem;
        padding: 0.5rem;
    }

    .header__shopping-cart {
        padding: 0rem;
        width: 90%;
    }

    .header__shopping-cart--total {
        padding: 0.5rem 0;
    }

    .header__login-form {
        padding: 4rem;
        width: 90%;
    }

    .header__login-form--input {
        width: 100%;
    }

    .header__login-form--text {
        font-size: 1.6rem;
    }

    /* ################## */

    .review-slider--mobile {
        width: 50rem;
    }

    .review__form--input {
        width: 100%;
    }

    /* ################## */
    .container__box:nth-child(4n) {
        align-items: start;
        grid-column: 1/-1;
        grid-row: 4;
        text-align: start;
    }

    .container__box--input {
        margin: .7rem 0;
        width: 100%;
    }
}

@media (max-width:375px) {


    .review-slider--mobile {
        width: 38rem;
    }

    .review__form {
        padding: 2rem;
    }

}

@media (max-width:320px) {

    .review__form {
        width: 95%;
    }

}