.blogs__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    margin-bottom: 2.5rem;
}

.container__blog {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.container__blog--img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
}

.blog__content {
    padding: 2rem;
}

.blog__content--icons {
    align-items: center;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
}

.blog__content--icons a {
    color: var(--light-color);
    font-size: 1.5rem;
}

.blog__content--icons a:hover {
    color: var(--black);
}

.blog__content--icons a i {
    color: var(--primary);
    padding-right: .5rem;
}

.blog__content--title {
    color: var(--black);
    font-size: 2.2rem;
    line-height: 1.8;
    padding: .5rem 0;
}

.blog__content--text {
    color: var(--grey-2);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: .5rem 0;
}