.categories__content {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.content__box {
    background: var(--white);
    border-radius: .5rem;
    outline-offset: -1rem;
    padding: 3rem 2rem;
    text-align: center;
}

.content__box--img {
    height: 15rem;
    margin: 1rem 0;
}

.content__box--title {
    color: var(--black);
    font-size: 2rem;
    line-height: var(--line-height);
}

.content__box--text {
    color: var(--black);
    font-size: 1.7rem;
    line-height: var(--line-height);
    padding: 1rem 0;
}