.features__box-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.box-container__item {
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 3rem 2rem;
    text-align: center;
}

.box-container__item--img {
    height: 15rem;
    margin: 1rem 0;
}

.box-container__item--title {
    color: var(--black);
    font-size: 2.5rem;
    line-height: var(--line-height);
}

.box-container__item--text {
    color: var(--black);
    font-size: 1.5rem;
    line-height: var(--line-height);
    padding: 1rem 0;
}