.features__box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box-container__item {
    padding: 3rem 2rem;
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
}

.box-container__item--img {
    margin: 1rem 0;
    height: 15rem;
}

.box-container__item--title {
    font-size: 2.5rem;
    line-height: var(--line-height);
    color: var(--black);
}

.box-container__item--text {
    font-size: 1.5rem;
    line-height: var(--line-height);
    color: var(--black);
    padding: 1rem 0;
}