.home {
    align-items: center;
    background-position: right top;
    background-size: cover;
    background: url(../../image/banner-bg.png) no-repeat;
    display: flex;
    filter: brightness(0.8);
    height: auto;
    justify-content: center;
    padding-bottom: 10rem;
    padding-top: 17rem;
}

.home.filter {
    filter: brightness(0.8);
}

.home__content {
    margin-top: 10rem;
    text-align: center;
    width: 60rem;
}

.home__content--title {
    color: var(--invert);
    font-size: 3rem;
}

.home__content--title span {
    color: var(--primary);
}

.home__content--text {
    color: var(--grey-2);
    font-size: 1.8rem;
    line-height: var(--line-height);
    padding: 1rem 0;
}

.home__content--btn {
    background: none;
    border-radius: .5rem;
    border: .2rem solid var(--invert);
    color: var(--invert) !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 1rem;
    padding: .8rem 3rem;
}

.home__content--btn:hover {
    background: var(--primary);
    color: var(--permanet) !important;
}