.products__product {
    padding: 1rem;
}

.products__product:first-child {
    margin-bottom: 2rem;
}

.product__box {
    background: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    transition: all .2s linear;
}

.product__box--img {
    height: 20rem;
}

.product__box--title {
    font-size: 2.5rem;
    color: var(--black);
}

.product__box--price {
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;

}

.product__box--stars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.product__box--stars label {
    color: var(--light-color);
    font-size: 1.5rem;
}

.product__box--stars label i.completed {
    color: var(--orange);
}


.product__box--stars label i {
    padding: 0 1rem;
}

.product__box--stars label:hover {
    cursor: pointer;
    color: var(--orange);
}

.product__box--stars label:hover~label {
    color: var(--orange);
}

.product__box--stars input {
    display: none;
}

/* .product__box--stars i {
    font-size: 1.7rem;
    color: var(--orange);
    padding: .5rem;
}

.product__box--stars i.empty {
    color: var(--light-color);

} */