.review__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.review-slider {
    height: 50rem;
    padding: 1rem;
    width: 50rem;
}

.review-slider--mobile {
    display: none;
    height: auto;
    padding: 1rem;
    width: 70rem;
}

.review__box {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 3rem 2rem;
    text-align: center;
    transition: all .2s linear;
}

.review__box--img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.review__box--comment {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: var(--line-height);
    padding: 1rem 0;
}

.review__box--author {
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem;
}

.review__box--stars i {
    color: var(--primary);
    font-size: 1.7rem;
}

.review__box--stars i.empty {
    color: var(--grey-3);
}


.review__form {
    align-items: start;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3rem 4.5rem;
    transition: all .2s linear;
}

.review__form--title {
    color: var(--black);
    font-size: 2rem;
}

.review__form--title span {
    color: var(--primary);
    font-size: 2.5rem;
    padding: 0 .5rem;
}

.review__form--input {
    background: var(--grey-3);
    border-radius: 8px;
    color: var(--invert);
    font-size: 1.6rem;
    height: 4rem;
    margin-top: 2rem;
    padding: 0 1.5rem;
    text-transform: none;
    width: 80%;
}

.review__form--textarea {
    background: var(--grey-3);
    border-radius: 5px;
    color: var(--invert);
    font-size: 1.6rem;
    margin-top: 2rem;
    padding: 1.5rem;
    resize: none;
    text-transform: none;
    width: 100%;
}

.review__form--textarea::placeholder,
.review__form--input::placeholder {
    color: var(--primary);
}

.review__form--rating {
    align-items: center;
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    unicode-bidi: bidi-override;
    width: 100%;
}

.review__form--rating label {
    color: var(--light-color);
    font-size: 3rem;
}


.review__form--rating label i {
    padding: 0 1rem;
}

.review__form--rating label:hover {
    color: var(--primary);
    cursor: pointer;
}

.review__form--rating label:hover~label {
    color: var(--primary);
}

.review__form--rating input {
    display: none;
}

.review__form--rating input:checked~label {
    color: var(--primary);
}

.review__form--btns {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    width: 100%;
}