@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1rem;

    }
}

@media (max-width:760px) {

    #menu-btn {
        display: inline-block;
    }

    .header__navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--white);
        text-align: center;
    }

    .header__navbar a:link,
    a:visited {
        font-size: 2rem;
        margin: 2rem 0rem;
        padding: 0.5rem;
        display: block;
    }

    .header__search-form {
        width: 90%;
    }
}


@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .header__navbar {
        width: 25rem;
        text-align: right;
    }

    .header__navbar a:link,
    a:visited {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        padding: 0.5rem;
        display: block;
    }

    .header__shopping-cart {
        width: 90%;
    }

    .header__login-form {
        width: 90%;
    }

    .header__login-form--input {
        width: 100%;
    }

    .header__login-form--text {
        font-size: 1.6rem;
    }
}