.footer {
    background: var(--white);
    border-top: 1px solid var(--black);
    padding: 2rem;
}

.footer__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.container__box--title {
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.container__box--title i {
    color: var(--primary);
}

.container__box--links {
    color: var(--grey-3);
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.container__box--links i {
    color: var(--primary);
    padding-right: .5rem;
}

.container__box--links:hover i {
    padding-right: 2rem;
}


.container__box--text {
    color: var(--grey-3);
    font-size: 1.5rem;
    line-height: var(--line-height);
    padding: 1rem 0;
    text-transform: bold;
}

.container__box:nth-child(4n) .container__box--text {
    color: var(--grey-3);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: var(--line-height);
    padding: 1rem 0;
}

.container__box--share a {
    background: var(--white);
    border-radius: .5rem;
    color: var(--black);
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
    margin-right: .2rem;
    text-align: center;
    width: 4rem;
}

.container__box--share a:hover {
    background: var(--primary);
    color: var(--white);
}

.container__box--input {
    background: var(--grey-3);
    border-radius: .5rem;
    color: var(--black);
    font-size: 1.6rem;
    margin: .7rem 0;
    padding: 1rem;
    text-transform: none;
    width: 100%;
}

.container__box--input::placeholder {
    color: var(--primary);
}


.container__box--img {
    display: block;
    height: 4rem;
    margin-top: 2rem;
    object-fit: cover;
    width: 40rem;
}

.footer__credit {
    border-top: var(--border);
    color: var(--black);
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2.5rem;
    padding: 1rem;
    text-align: center;
}

.footer__credit span {
    color: var(--primary);
}