.footer {
    background: var(--white);
    padding: 2rem;
    border-top: 1px solid var(--black);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.container__box--title {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.container__box--title i {
    color: var(--orange);
}

.container__box--links {
    display: block;
    font-size: 1.5rem;
    color: var(--grey-3);
    padding: 1rem 0;
}

.container__box--links i {
    color: var(--orange);
    padding-right: .5rem;
}

.container__box--links:hover i {
    padding-right: 2rem;
}


.container__box--text {
    line-height: var(--line-height);
    font-size: 1.5rem;
    color: var(--grey-3);
    padding: 1rem 0;
    text-transform: bold;
}

.container__box:nth-child(4n) .container__box--text {
    line-height: var(--line-height);
    font-size: 1.5rem;
    color: var(--grey-3);
    padding: 1rem 0;
    font-weight: 900;
}

.container__box--share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-right: .2rem;
    background: var(--white);
    text-align: center;
}

.container__box--share a:hover {
    background: var(--orange);
    color: var(--white);
}

.container__box--input {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--grey-3);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.container__box--input::placeholder {
    color: var(--orange);
}


.container__box--img {
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer__credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer__credit span {
    color: var(--orange);
}