.header {
    align-items: center;
    background: var(--invert-2);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 2rem 7%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.header--logo {
    color: var(--black);
    font-size: 2.5em;
    font-weight: bolder;
}

.header--logo i {
    color: var(--primary);
}

.header__navbar a:link,
a:visited {
    color: var(--black);
    font-size: 1.7rem;
    margin: 0 1rem;
}

.header__navbar a:hover,
a:active {
    color: var(--primary);
    text-decoration: underline;
}

.header__icons--item {
    background: var(--grey);
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    font-size: 2rem;
    height: 4.5rem;
    line-height: 4.5rem;
    margin-right: .3rem;
    text-align: center;
    width: 4.5rem;
}

.header__icons--item:hover {
    background: var(--primary);
    color: var(--white);
}

#menu-btn {
    display: none;
}

.header__search-form {
    align-items: center;
    background: var(--grey-3);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    height: 4.5rem;
    overflow: hidden;
    position: absolute;
    right: -110rem;
    top: 110%;
    width: 50rem;
}

.header__search-form--input {
    background: none;
    color: var(--invert);
    font-size: 1.6rem;
    height: 100%;
    padding: 0 1.5rem;
    text-transform: none;
    width: 100%;
}

.header__search-form--input::placeholder {
    color: var(--primary);
}

.header__search-form--label {
    color: var(--black);
    cursor: pointer;
    font-size: 2.2rem;
    padding-right: 1.5rem;
}

.header__search-form--label:hover {
    color: var(--primary);
}

.header__shopping-cart {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    height: auto;
    padding: 1rem;
    position: absolute;
    right: -110%;
    top: 110%;
    width: 30rem;
}

.header__shopping-cart--total {
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
}

.header__shopping-cart--btn {
    display: block;
    margin: 1rem;
    text-align: center;
}

.shopping-cart__box {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    position: relative;
}

.shopping-cart__box--icon {
    color: var(--light-color);
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.shopping-cart__box--icon:hover {
    color: var(--primary);
}

.shopping-cart__box--img {
    height: 10rem;
}

.box__content--title {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.box__content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.box__content--quantity {
    padding-left: 1rem;
}

.header__login-form {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: absolute;
    right: -110%;
    text-align: center;
    top: 110%;
    width: 30rem;
}

.header__login-form--title {
    color: var(--black);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.header__login-form--input {
    background: var(--grey-3);
    border-radius: .5rem;
    color: var(--invert);
    font-size: 1.6rem;
    margin: .8rem 0;
    padding: 1rem;
    text-transform: none;
}

.header__login-form--input::placeholder {
    color: var(--primary);
}

.header__login-form--text {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: .8rem 0;
}

.header__login-form--text a {
    color: var(--primary);
    text-decoration: underline;
}

/*  Javascript */
.header__icons--item.active-btn {
    background: var(--primary);
    color: var(--white);
}